<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751252089727-do1h8p2tchlu3rr4uv0e3o0rg5aqjbjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751252089727-do1h8p2tchlu3rr4uv0e3o0rg5aqjbjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCIizXLaDfQTs0bVKKpTtyzTDqm1xbcuS0</string>
	<key>GCM_SENDER_ID</key>
	<string>751252089727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ios-templates</string>
	<key>PROJECT_ID</key>
	<string>ios-templates-d8d88</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-templates-d8d88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751252089727:ios:282e598d780538a2bac84a</string>
</dict>
</plist>